/* === BASE === */

html {
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* === ELEMENTS === */

/* --- Texte --- */



/* --- Article --- */




/* === SECTIONS === */

/* --- Header --- */



/* --- Hero --- */



/* --- Article --- */



/* --- Footer --- */

